.header {
  height: 70px;
  align-items: center;
  flex-direction: row;
  display: flex;
  box-shadow: 0 4vh 2vh -4vh gray;
  width: 100%;
}

.header .logo {
  margin-left: 17px;
}

.header .nav-links {
  width: 70%;
  margin: 0 1vw 0 auto;
}

.header .nav-links ul {
  width: 100%;
  justify-content: space-around;
}

.nav-links ul li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-weight: 650;
  list-style: none;
  display: inline-block;
  padding: 24px 12px;
  position: relative;
}

.nav-links ul li a {
  color: black;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.nav-links ul li a:hover,
.nav-links ul li a#active {
  color: #28b463;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.main {
  margin-top: 2vh;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px 15px;
  margin: auto;
  width: 40vw;
}

.main_top {
  display: flex;
  font-weight: 700;
  margin-bottom: 10px;
  column-gap: 40px;
}

.main_top div.tab {
  position: relative;
  cursor: pointer;
  padding-inline: 10px;
  border-radius: 5px;
}

.main_top div.tab:focus {
  outline: 1.2px solid;
}

.main_top div.tab::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #0a9644;
  transform: scaleX(0);
  transition: transform 200ms;
}
.main_top div.active::after {
  transform: scaleX(1);
}

.main_content {
  width: 100%;
}

/* Billing and Tax Calculator Header */

.main_content .main_content_gross span {
  font-weight: 700;
  font-size: 18px;
}

.main_content .main_content_gross div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main_content .main_content_gross div span {
  background-color: #d0d3d4;
  border-radius: 10% 0 10% 0;
  padding: 1vh 0.8vw;
  text-transform: uppercase;
  font-weight: 700;
}

.main_content .main_content_gross div input {
  flex: 1;
  width: 100%;
  border: none;
  background-color: #ebedef;
  padding: 0 0.5vw;
  font-size: 17px;
  text-align: center;
}

.main_content .main_content_gross div input:focus {
  outline: none;
}

.main_content .main_content_gross div button {
  background-color: #28b463;
  border: none;
  border-radius: 0.5vh;
  padding: 1vh 0.5vw;
  cursor: pointer;
}

.main_content .main_content_gross div button:focus {
  outline: none;
}

.main_content .main_content_gross div button span {
  color: #fff;
  background-color: transparent;
  font-size: 17px;
  font-weight: 700;
  text-transform: capitalize;
}

.main_content .main_content_netpay {
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbfdfd;
  margin-bottom: -6px;
}

.main_content .main_content_netpay span {
  font-weight: 700;
  font-size: 18px;
}

.main_content .main_content_netpay div#netpay_input {
  display: flex;
  flex-direction: row;
  width: auto;
}

.main_content .main_content_netpay div span {
  /* background-color: #d0d3d4;
  border-radius: 10% 0 10% 0; */
  padding: 5px 5px;
  cursor: default;
  font-weight: 500;
  color: #525050;
}

.main_content .main_content_netpay div input#net-salary-view-only {
  min-width: 200px;
  border: none;
  background-color: transparent;
  padding: 0 5px;
  color: #525050;
  font-weight: 700;
  font-size: 20px;
  cursor: default;
  text-align: center;
}

.main_content .main_content_netpay div input#net-salary-view-only::placeholder {
  font-weight: 200;
  font-size: 14px;
}

.main_content .main_content_netpay div button {
  background-color: #28b463;
  border: none;
  border-radius: 0.5vh;
  padding: 1vh 0.5vw;
  cursor: pointer;
}

.main_content .main_content_netpay div button:focus {
  outline: none;
}

.main_content .main_content_netpay div button span {
  color: #fff;
  background-color: transparent;
  font-size: 17px;
  font-weight: 700;
  text-transform: capitalize;
}

/* Tax Calculator Styles */
.main_content_result {
  background-color: #ebedef;
  margin-top: 5px;
}

.main_content_result div:nth-child(even) {
  background-color: rgba(169, 169, 169, 0.2);
}

.main_content_result .main_content_result_tax .heading {
  margin-bottom: 0.8rem;
}
.main_content_result .main_content_result_tax .heading p {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
}

.main_content_result .main_content_result_tax .tax-entry {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 17px;
  position: relative;
}

.main_content_result .main_content_result_tax .tax-entry::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 3px;
  scale: 0;
  background-color: rgba(61, 61, 61, 0.43);
  transition: scale 0.15s ease-out;
}

.main_content_result .main_content_result_tax .tax-entry.unavailable {
  opacity: 0.43;
}
.main_content_result .main_content_result_tax .tax-entry.unavailable::before {
  scale: 1;
}

.main_content_result .main_content_result_tax .tax-entry span small {
  font-size: 10px;
  font-style: italic;
}

/* .main_content_result .main_content_result_tax div:nth-child(9) {
  border-top: 3px solid #fff;
  margin-top: 1vh;
  padding: 2vh 0;
} */

.main_content_result .main_content_result_tax .tax-entry span:last-child {
  /* text-transform: uppercase; */
  font-weight: 700;
  margin-right: 10px;
}

.main_content_result .main_content_result_tax .main_content_result_footer {
  display: grid;
  padding: 3px 10px;
}

.main_content_result .main_content_result_tax .main_content_result_footer span {
  color: #38acec;
  font-size: 16px;
  justify-self: end;
  cursor: pointer;
}

/* Bill Manger Styles */
.main_content_result .main_content_result_bills {
  position: relative;
  font-size: 18px;
  font-weight: 700;
}

.main_content_result .main_content_result_bills .heading {
  margin-bottom: 0.8rem;
}
.main_content_result .main_content_result_bills .heading p {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
}

.main_content_result .main_content_result_bills .bill-box-entry {
  padding: 10px;
  width: 100%;
  display: flex;
  font-size: 17px;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main_content_result
  .main_content_result_bills
  .bill-box-entry.bill-box-entry-edit-mode
  > span {
  flex-basis: 0;
  flex-grow: 1;
}

.main_content_result
  .main_content_result_bills
  .bill-box-entry.bill-box-entry-edit-mode
  input {
  width: 8rem;
  padding: 5px 10px;
}
.main_content_result
  .main_content_result_bills
  .bill-box-entry.bill-box-entry-edit-mode
  .money-sign {
  font-size: 13.5px;
  margin-right: 3px;
}

.main_content_result
  .main_content_result_bills
  .bill-box-entry.bill-box-entry-edit-mode
  .delete-action-icon {
  cursor: pointer;
  mix-blend-mode: difference;
  height: 25px;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
}

.main_content_result .main_content_result_bills .bill-box-entry span small {
  font-size: 10px;
  font-style: italic;
}

.main_content_result .main_content_result_bills .bill-box-entry::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 3px;
  scale: 0;
  background-color: rgba(61, 61, 61, 0.43);
  transition: scale 0.15s ease-out;
}

.main_content_result .main_content_result_bills .bill-box-entry.unavailable {
  opacity: 0.43;
}

.main_content_result
  .main_content_result_bills
  .bill-box-entry.unavailable::before {
  scale: 1;
}

.main_content_result
  .main_content_result_bills
  .bill-box-entry
  .bill-box-entry-title {
  text-transform: capitalize;
}
.main_content_result
  .main_content_result_bills
  .bill-box-entry
  .bill-box-entry-currency
  .money-sign {
  margin-right: 5px;
}

.main_content_result
  .main_content_result_bills
  .bill-box-entry.billing-results {
  border-top: 1.6px solid rgba(128, 128, 128, 0.3);
  border-left: 1.6px solid rgba(128, 128, 128, 0.3);
}
.main_content_result
  .main_content_result_bills
  .bill-box-entry.billing-balance {
  flex-wrap: wrap;
  border-bottom: 1.6px solid rgba(128, 128, 128, 0.3);
  border-right: 1.6px solid rgba(128, 128, 128, 0.3);
}
.main_content_result
  .main_content_result_bills
  .bill-box-entry.billing-balance
  .bill-box-entry-warning {
  width: 100%;
  color: inherit;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 200;
  text-align: end;
  display: none;
}
.main_content_result
  .main_content_result_bills
  .bill-box-entry.billing-balance
  .bill-box-entry-warning.low-balance {
  color: #dc3545;
  display: inline-block;
}
.main_content_result
  .main_content_result_bills
  .bill-box-entry.billing-balance
  .bill-box-entry-warning.safe-balance {
  color: #198754;
}
/* .main_content_result .main_content_result_bills .bill-box-entry input {

} */

/* .main_content_result .main_content_result_bills #result-bill div {
  width: 50%;
  margin-left: auto;
} */

/* .main_content_result .main_content_result_bills #result-bill:first-child {
  opacity: 0.4;
} */

/* .main_content_result .main_content_result_bills #result-bill div input {
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid gray;
  padding: 0.5vh 1vw;
  margin-left: 0.3vw;
  width: 40%;
} */

/* .main_content_result .main_content_result_bills #result-bill div input:focus {
  outline: none;
} */

.main_content_result .main_content_result_bills #bill-box-entry-controls {
  width: fit-content;
  margin-left: auto;
  padding: 5px;
}

button {
  font-size: inherit;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  text-transform: capitalize;
}
/* button.btn-primary {
  background-color: #07853f;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
} */
button.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #07853f;
  --bs-btn-border-color: #07853f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #235339;
  --bs-btn-hover-border-color: #2d6b4a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #069b49;
  --bs-btn-active-border-color: #399160;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #07853f;
  --bs-btn-disabled-border-color: #07853f;

  border-radius: 4px;
  text-transform: capitalize;
}

button.btn-secondary {
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  color: #212222;
  background-color: #8f8f80;
  text-transform: capitalize;
}

.modal {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  opacity: 0.96;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: all 0.5 ease-in-out;
}

.modal.hide {
  transform: scaleY(0);
}

.modal.show {
  transform: scaleY(1);
}

.modal div {
  display: flex;
  flex-direction: column;
  border-radius: 1vw;
  width: 30vw;
  padding: 2vh 2vw;
  margin: 16vh auto;
}

.modal div input {
  font-size: 16px;
  padding: 1vh 1vw;
  width: 94%;
  margin-top: 0.2vh;
  margin-bottom: 1vh;
  background: none;
  border: none;
  border-bottom: 2px solid gray;
  text-align: center;
}

.modal div input:focus {
  outline: none;
}

.modal div span {
  font-size: 18px;
  font-weight: 700;
  padding: 1vh 1vw;
  width: 100%;
}

.modal div button {
  width: 100%;
  color: #fff;
  border: none;
  background-color: #28b463;
  border-radius: 0.5vw;
  font-size: 15px;
  padding: 1vh 1vw;
  margin-top: 2vh;
}

@media screen and (max-width: 1024px) {
  .main {
    width: 70vw;
  }
}

@media screen and (max-width: 625px) {
  .main {
    width: 96vw;
    font-size: 19px;
  }
  .main_content .main_content_gross div span {
    padding: 1vh 2.5vw;
    font-size: 16px;
  }
  .main_content .main_content_gross div input {
    padding: 0 1.5vw;
    font-size: 16px;
  }
  .main_content .main_content_gross div button span {
    font-size: 15px;
  }
  .main_content_result {
    padding: 0.5vh 2.5vw;
  }
  .main_content_result .main_content_result_tax {
    font-size: 17px;
  }
  .main_content_result .main_content_result_tax div:nth-child(9) {
    border-top: 3px solid #fff;
    margin-top: 1vh;
    padding: 2vh 0;
  }
  /* Bill Manger Styles */
  .main_content .main_content_netpay span {
    font-size: 16px;
  }
  .main_content .main_content_netpay div span {
    padding: 1vh 2.5vw;
  }
  .main_content .main_content_netpay div input {
    padding: 0 1.5vw;
    font-size: 16px;
  }
  .main_content .main_content_netpay div button span {
    font-size: 15px;
  }
  .main_content_result .main_content_result_bills {
    font-size: 16px;
  }
  .main_content_result .main_content_result_bills #result-bill div input {
    padding: 0.5vh 1.5vw;
    width: 60%;
  }
  .main_content_result .main_content_result_bills #bill-box-entry-controls {
    width: fit-content;
    margin-left: auto;
    margin-top: 3vh;
  }
}
